html {
}

body {
	color: #3C3C3B;
}

body.single {
	margin-top: 0em;
}

main:not(body.home) {
	margin-top: 2em;
}

.site-header {
	background: #f4f6fa;
	padding-bottom: 2.4em;
}

#page {
	max-width: 1600px;
}

img {
	height: auto;
	max-width: 100%;
}

hr {
	border: 2px solid rgba(0,0,0,0.07);
}

a {
	color: blue;
}

a h2, h2 a {
	color: #3C3C3B;
	transition: 0.2s;
}

small a {
	text-decoration: underline;
	color: #6c757d !important;
}

a:hover {
	color: darkblue;
	text-decoration: none;
}

a.homelink .fa-arrow-right {
	transition: 0.2s;
	margin-left: 0.3em;
}

a.homelink:hover .fa-arrow-right {
	transition: 0.2s;
	margin-left: 0.43em;
}

h2, h2 .fa-arrow-right {
	transition: 0.2s;
	color: #3C3C3B;
}

h2:hover, h2:hover .fa-arrow-right {
	color: darkblue;
	transition: 0.2s;
}

h2:hover .fa-arrow-right {
	margin-left: 0.4em;
	transition: 0.2s;
}

p, .fundingbar {
	font-size: 1.4em;
	line-height: 1.3;
	font-family: 'interstate', sans-serif;
	font-weight: 400;
	font-style: normal;
}

p span {
	font-weight: 700;
	border-bottom: 0px solid #fff;
	transition: 0.3s;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
}

p span:hover {
	border-width: 3px;
	transition: 0.3s;
}

p.card-text {
	text-align: left !important;
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: 'verdigris-mvb-pro-big', serif;*/
	margin-left: -2px;
	font-family: 'pinecone-mvb', sans-serif;
	font-weight: 700;
}

h2.entry-title {
	font-family: 'pinecone-mvb', sans-serif;
}

main h2 {
	margin-bottom: 1em;
}

h5.card-title {
	color: #3C3C3B;
	font-family: 'pinecone-mvb', sans-serif;
}



span.project_details {
	padding: 0.36em 0.6em;
	font-family: 'pinecone-mvb', sans-serif;
	font-size: 0.8em;
	border-radius: 0.36em;
	display: inline-block;
}

.category {
	color: #fff;
	font-weight: 400;
}

.category:not(:last-child) {
	margin-left: 0.35em;
}

.category:first-child {
	margin-left: 0em;
}

.date {
	color: #004085;
	background: #e8f1fa;
	margin-top: 0.35em;
}

.tag {
	color: #7c7f8f;
	background: #f4f6fa;
	margin-top: 0.35em;
}

span.project_details:hover {
	border: none;
}

.fundingbar {
	height: 3em;
	width: 100%;
	margin: 0 auto;
	display: flex;
	border-radius: 0.4em;
	overflow: hidden;
	background: #65d260;
}

.funding__label {
	background: rgba(0,0,0,0);	
}

.fundingbar section {
	height: 3em;
	line-height: 3em;
	text-align: left;
	color: darkgreen;
}
.fundingbar section:last-of-type {
	flex: auto;
	text-align: right;
}

.fundingbar section span {
	padding-left: 1em;
}

span.amount {
	float: left;
	padding: 0.1em;
}

.fundingbar section span:hover {
	border-bottom: none;
}
.fundingbar section span:last-of-type {
	padding-right: 1em;
}

.leaflet-map, .leaflet-container, .leaflet-retina, .leaflet-safari, 
.leaflet-fade-anim, .leaflet-grab, .leaflet-touch-drag {
	border-radius: 1em;
}

span.funding {
	color: black;
	padding: 0 0.4em;
	float: left;
}

span.goal {
	float: right;
}

#funding {
	background: rgba(0,0,0,0);
	z-index: 2
}
#goal {
	background: #f4f6fa;
	z-index: 1
}

/*span.category::before {
	content: '';
}*/

.btn {
	font-family: 'pinecone-mvb', sans-serif;
}

li .svg-inline--fa, .nobreak .svg-inline--fa, .nobreak .svg-inline--fa, button .svg-inline--fa {
	margin-right: 0.3em;
}

h2 .fa-arrow-right {
	margin-left: 0.3em;
	color: #f4f6fa;
	transition: 0.2s;
}

.btn-primary {
	background-color: blue;
	border: 1px solid blue;
}

.btn-primary:hover {
	background-color: darkblue;
	border: 1px solid darkblue;
}

.alert-primary {
	color: #004085;
	background-color: #e8f1fa;
	border-color: #dcebfa;
}

.bg-light {
	background-color: #e8f1fa;
	border: 1px solid #dcebfa;
	border-radius: 0.5em;
}

.back-btn {
	float: left;
	position: absolute;
	z-index: 2;
	margin: 1em 0 0 1em;
}

.card {
	border-radius: 0.6em;
	height: 28em;
	border: 3px solid #f4f6fa !important;
	transition: 0.2s;
	box-shadow: 0 6px 0 rgba(0,0,0,0), 0 0 15px rgba(0,0,0,0.02);
}

.card:hover {
	border-color: blue !important;
	transition: 0.2s;
	box-shadow: 0 6px 0 blue, 0 0 35px rgba(0,0,0,0.3);
}

.card-body {
	padding: 0.6em
}

.card-img-top {
	max-height: 13em;
	overflow: hidden;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}

.card-img-top img {
	height: auto;
	min-height: 210px;
	width: 100%;
}

.single {
	height: auto !important;
	margin-top: 3em;
	border: none !important;
}

.autoheight {
	height: auto !important;
	margin-top: 3em;
}

.single img {
	border-radius: 0.4em;
}

.autoheight img {
	border-bottom-left-radius: 0em;
	border-bottom-right-radius: 0em;
}

.single:hover {
	box-shadow: none;
}

.fullsize {
	max-height: none !important;
	overflow: visible;
}

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}

.navbar {
	margin-top: 3.4em;
}

a.nav-item.nav-link {
	margin-bottom: 0.5em;
	border-radius: 0.5em;
	position: relative;
	font-family: 'pinecone-mvb', sans-serif;
	font-weight: 400;
	background-color: #fff;
	border-radius: 0.5em;
	text-decoration: none;
    color: #3C3C3B !important;
    padding: 0.54em 1.1em !important;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

a.nav-item.nav-link:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #fff;
	background-color: transparent;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.312em;
	margin-left: -0.625em;
}

a.nav-item.nav-link:hover {
	color: blue !important;
	transition: 0.2s;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a.nav-item.nav-link .active {
}
  
.footer ul {
	font-size: 0.9em;
	list-style: none;
	margin-left:-40px;
	color: #3C3C3B
}

.footer ul li {
	padding-top: 0.3em;
}

.footer ul li a {
	color: #000;
}

.footer ul li a:hover {
	text-decoration: underline;
}

.footer h2 {
	font-size: 1em;
}

p.small {
	font-size: 1em;
}

.article-content p {
	margin-top: 1em;
}

article img {
	border-radius: 0.4em;
}

@media screen and (min-width: 750px) {
	p {
		/*max-width: 60ch;*/
		text-align: justify;
		text-justify: inter-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
	
	.wp-block-image figure.alignright {
		margin-right: -20% !important;
	}
	.wp-block-image figure.alignleft {
		margin-left: -5% !important;
	}
}

@media screen and (min-width: 950px) {
	.wp-block-image figure.alignleft {
		margin-left: -20% !important;
	}
}

@media screen and (min-width: 1050px) {
	.card {
		height: 24em;
	}
}

@media screen and (max-width: 768px) {
	.wp-block-image .alignright, .wp-block-image .alignleft  {
		float: none !important;
		margin: 0 auto !important;
	}
	.navbar {
		margin-top: 0em;
	}

	.site-header {
		padding-bottom: 0em;
	}

	.navbar-collapse {
		padding: 1em 0em;
	}

	.navbar span:hover {
		border-bottom: 0px;
	}

	.offset-lg-2.offset-md-1.col-md-7.col-lg-6.col-xl-5, .site-header {
		padding-right: 0rem !important;
	}
}

.wp-block-image figcaption {
	color: #888;
}

.logo-container {
	position: relative;
	padding-bottom: 1em;
	padding-top: 4em;
	margin-left: -1em;
}

.logo {
	position: relative;
	
}

.navbar-toggler {
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 9;
	background: white;
}

.nobreak {
	white-space: nowrap;
}

span.art {
	background: #6EABCB;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.climate {
	background: #71B51E;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.youth {
	background: #F29805;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.elderly {
	background: #003DB1;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.sport {
	background: #d12e26;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span:hover {
	border-bottom: 2px solid;
}

span.art:hover {
	border-color: #6EABCB;
}
span.climate:hover {
	border-color: #71B51E;
}
span.youth:hover {
	border-color: #F29805;
}
span.elderly:hover {
	border-color: #003DB1;
}
span.sport:hover {
	border-color: #d12e26;
}

.category-kunst .card {
	border-color: #6EABCB;
	color: #000;
}
.btn.category-kunst {
	background: #6EABCB;
	border: 5px solid #6EABCB;
}
.btn.category-kunst:hover {
	background: #6EABCB;
	border-color: rgba(255, 255, 255, 0.3);
}

.category-klima .card {
	border-color: #04D4AA;
	color: #000;
}
.btn.category-klima {
	background: #71B51E;
	border: 5px solid #71B51E;
}
.btn.category-klima:hover {
	background: #71B51E;
	border-color: rgba(255, 255, 255, 0.3);

}
.category-jugend .card {
	border-color: #F29805;
	color: #000;
}
.btn.category-jugend {
	background: #F29805;
	border: 5px solid #F29805;
}
.btn.category-jugend:hover {
	background: #F29805;
	border-color: rgba(255, 255, 255, 0.3);
}

.category-altenpflege .card {
	border-color: #003DB1;
	color: #000;
}
.btn.category-altenpflege {
	background: #003DB1;
	border: 5px solid #003DB1;
}
.btn.category-altenpflege:hover {
	background: #003DB1;
	border-color: rgba(255, 255, 255, 0.3);
}
.category-sport .card {
	border-color: #f5c400;
	color: #000;
}
.btn.category-sport {
	background: #d12e26;
	border: 5px solid #d12e26;
}
.btn.category-sport:hover {
	background: #d12e26;
	border-color: rgba(255, 255, 255, 0.3);
}

span.Jugend {
	background: #F29805;
}

span.Jugend::before {
    content: "\f581";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

span.Sport {
	background: #d12e26;
}

span.Sport::before {
	content: "\f45e";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

span.Senioren {
	background: #003DB1;
}

span.Senioren::before {
	content: "\f004";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

span.Klima {
	background: #71B51E;
}

span.Klima::before {
	content: "\f06c";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

span.Kunst {
	background: #6EABCB;
}

span.Kunst::before {
	content: "\f618";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

/* NEWSLETTER */

.sib-form {
//	background-attachment: fixed;
//	font-size: 16px;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

.sib-form__declaration {
//	display: flex;
	padding: 0;
//	align-items: center;
}

#sib-container {
//	background: #fff;
//	margin: 0 auto;
	padding: 0;
//	display: inline-block;
//	width: 100%;
}

.sib-form-block {
	padding: 0;
//	word-wrap: break-word;
//	outline: none;
}

.sib-form .entry__error {
//	color: #ff4949;
//	font-size: .87055056rem;
	line-height: 1.4rem;
	padding: 1em 1em 0.7em;
}

.sib-form-block__button-with-loader {
	min-height: none;
	line-height: 1em;
}