html {
	font-family: ten-oldstyle, serif;
}

body {
	color: #3C3C3B;
}

a {
	color: blue;
}

small a {
	text-decoration: underline;
	color: #6c757d!important;
}

a:hover {
	color: darkblue;
}

#page {
	max-width: 1600px;
}

img {
	height: auto;
	max-width: 100%;
}

hr {
	border: 2px solid rgba(0,0,0,0.07);
}

p {
	font-size: 1.4em;
	line-height: 1.3;
	font-family: 'verdigris-mvb-pro-text', serif;
	font-weight: 400;
	font-style: normal;
}

p span {
	font-weight: 700;
	border-bottom: 0px solid #fff;
	transition: 0.3s;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'verdigris-mvb-pro-big', serif;
	/*font-family: 'pinecone-mvb', sans-serif;*/
	font-weight: 700;
}

h2.entry-title {
	font-family: 'pinecone-mvb', sans-serif;
}

p span:hover {
	border-width: 3px;
	transition: 0.3s;
}

span.art {
	background: -webkit-linear-gradient(left, #ff2e4a, #f2231d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.climate {
	background: -webkit-linear-gradient(left, #04D4AA, #04d473);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.youth {
	background: -webkit-linear-gradient(left, #F29805, #f28b05);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.elderly {
	background: -webkit-linear-gradient(left, #142cb8, #18298C);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.sport {
	background: -webkit-linear-gradient(left, #ffd000, #ffbf00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span:hover {
	border-bottom: 2px solid;
}

span.art:hover {
	border-color: #ff2e4a;
}
span.climate:hover {
	border-color: #04D4AA;
}
span.youth:hover {
	border-color: #F29805;
}
span.elderly:hover {
	border-color: #142cb8;
}
span.sport:hover {
	border-color: #ffd000;
}

.category-kunst .card {
	border-color: #FF6662;
	color: #000;
}
.btn.category-kunst {
	background: #9ebe43;
	border: 5px solid #9ebe43;
}
.btn.category-kunst:hover {
	background: #9ebe43;
	border-color: rgba(255, 255, 255, 0.3);
}

.category-klima .card {
	border-color: #04D4AA;
	color: #000;
}
.btn.category-klima {
	background: #4dafe6;
	border: 5px solid #4dafe6;
}
.btn.category-klima:hover {
	background: #4dafe6;
	border-color: rgba(255, 255, 255, 0.3);

}
.category-jugend .card {
	border-color: #F29805;
	color: #000;
}
.btn.category-jugend {
	background: #F29805;
	border: 5px solid #F29805;
}
.btn.category-jugend:hover {
	background: #F29805;
	border-color: rgba(255, 255, 255, 0.3);
}

.category-altenpflege .card {
	border-color: #18298C;
	color: #000;
}
.btn.category-altenpflege {
	background: #3d8a41;
	border: 5px solid #3d8a41;
}
.btn.category-altenpflege:hover {
	background: #3d8a41;
	border-color: rgba(255, 255, 255, 0.3);
}
.category-sport .card {
	border-color: #f5c400;
	color: #000;
}
.btn.category-sport {
	background: #d12e26;
	border: 5px solid #d12e26;
}
.btn.category-sport:hover {
	background: #d12e26;
	border-color: rgba(255, 255, 255, 0.3);
}

span.category{
	font-weight: 400;
	color: #fff;
	padding: 0.1em 0.35em 0.17em;
	border-radius: 0.27em;
	margin-right: 0.3em;
}

span.category.date {
	color: #004085;
	background: #e8f1fa;
	padding: 0.36em 0.45em;
	font-family: 'pinecone-mvb', sans-serif;
	font-size: 0.8em;
	margin-left: -0.15em;
	border-radius: 0.36em;
}

span.category.date:hover {
	border: none;
}

/*span.category::before {
	content: '';
}*/

span.Jugend {
	background: #F29805;
}

span.Jugend::before {
    content: "\f581";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

span.Sport {
	background: #d12e26;
}

span.Sport::before {
	content: "\f45e";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

span.Senioren {
	background: #3d8a41;
}

span.Senioren::before {
	content: "\f004";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

span.Klima {
	background: #4dafe6;
}

span.Klima::before {
	content: "\f06c";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

span.Kunst {
	background: #9ebe43;
}

span.Kunst::before {
	content: "\f618";
	font-family: "Font Awesome 5 Pro"; 
	font-weight: 900;
	display: none;
}

.btn {
	font-family: 'pinecone-mvb', sans-serif;
}

.btn-primary {
	background-color: blue;
	border: 1px solid blue;
}

.alert-primary {
	color: #004085;
	background-color: #e8f1fa;
	border-color: #dcebfa;
}

.bg-light {
	background-color: #e8f1fa;
	border: 1px solid #dcebfa;
	border-radius: 0.5em;
}

.btn-muted {
	background-color: #dcebfa;
	color: #384e63;
}

.btn-primary:hover {
	background-color: darkblue;
	border-color: rgba(255, 255, 255, 0.3);
}

.card {
	border-radius: 0.35em;
	height: 24em;
	border: 3px solid #eee !important;
	transition: 0.2s;
	box-shadow: 0 6px 0 rgba(0,0,0,0), 0 0 15px rgba(0,0,0,0.02);
}

h5.card-title {
	color: #3C3C3B;
	font-family: 'pinecone-mvb', sans-serif;
}

.card:hover {
	border-color: blue !important;
	transition: 0.2s;
	box-shadow: 0 6px 0 blue, 0 0 35px rgba(0,0,0,0.3);
}

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}

a.nav-item.nav-link {
	margin-bottom: 0.5em;
	border-radius: 0.5em;
	position: relative;
	font-family: 'pinecone-mvb', sans-serif;
	font-weight: 400;
	background-color: #f4f2f5;
	border-radius: 0.5em;
	text-decoration: none;
    color: #3C3C3B !important;
    padding: 0.54em 1.1em !important;
}

a.nav-item.nav-link:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #f4f2f5;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.312em;
	margin-left: -0.625em;
}

a.nav-item.nav-link:hover {
	color: orange !important;
	transition: 0.2s;
}

a.nav-item.nav-link .active {
}
  
.footer ul {
	font-size: 0.9em;
	list-style: none;
	margin-left:-40px;
}

.footer ul li {
	padding-top: 0.3em;
}

.footer ul li a {
	color: #000;
}

.footer h2 {
	font-size: 1em;
}

p.small {
	font-size: 1em;
}

.article-content p {
	margin-top: 1em;
}

article img {
	border-radius: 0.4em;
}

@media screen and (min-width: 750px) {
	p {
		/*max-width: 60ch;*/
		text-align: justify;
		text-justify: inter-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
	
	.wp-block-image figure.alignright {
		margin-right: -20% !important;
	}
	.wp-block-image figure.alignleft {
		margin-left: -5% !important;
	}
}

@media screen and (min-width: 950px) {
	.wp-block-image figure.alignleft {
		margin-left: -20% !important;
	}
}

@media screen and (max-width: 750px) {
	.wp-block-image .alignright, .wp-block-image .alignleft  {
		float: none !important;
		margin: 0 auto !important;
	}
}

.wp-block-image figcaption {
	color: #888;
}

.card-img-top {
	max-height: 13em;
	overflow: hidden;
}

.card-img-top img {
	height: auto;
	width: 100%;
}

.logo-container {
	position: relative;
	padding-bottom: 1em;
	padding-top: 4em;
}

.logo {
	position: relative;
}

.navbar-toggler {
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 9;
	background: white;
}

.btn .svg-inline--fa, .btn .svg-inline--fa {
	margin-right: 0.3em;
}

.nobreak {
	white-space: nowrap;
}
